@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
</div>
<div>
    <p>Bienvenido al taller ASP.Net Core de John Fredy Barrera</a>.</p>
</div>
