@model IEnumerable<Taller1.Models.Formulario>

@{
    ViewData["Gracias"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Gracias</h1>
    <p>Tus datos fueron registradaos exitosamente</a>.</p>
</div>